.card {
	width: 18rem;
	height: 15rem;
	font-family: "Arial",sans-serif;
	font-weight: 300;
	line-height: 25px;
}

.card-button {
	background-color: white;
	border-radius: 1px;
	color: #20B2AA;
	border: 2px solid #20B2AA;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	float: left;
}

.imageHolder {
	background: url("./profile.png") center;
	background-size: cover;
	float: left;
}

.card_content {
	font-size: 12px;
	text-align: left;
}

.card_title {
	margin-top: 10px;
	font-size: 17px;
	text-align: left;
	margin-left: 5rem;
	font-color: #404040;
	line-height: 20px;
}

.card_subtitle {
	font-size: 15px;
	text-align: left;
	margin-left: 5rem;
}