* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 2rem;
  margin-left: 3rem;
}

.title {
  font-family: "Arial",sans-serif;
  font-size: 25px;
  margin-top: 3rem;
  color: black;
  font-weight: 540;
}

.main_text {
  margin-top: 3rem;
  margin-left: 7rem;
  width: 85%;
  height: 13rem;
  background-color: #f8f8ff;
  padding: 1rem;
  padding-right: 20rem; 
  line-height: 20px;
  font-family: "Arial",sans-serif;
}

.main_text_subtext {
  font-size: 13px;
}

.row {
  margin-left: 3rem;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  margin: 2rem;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
  transition: box-shadow 0.3s ease-in-out;
  padding: 16px;
  text-align: center;
  background-color: white;
}

.card:hover {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.main-button {
  background-color: #f8f8ff;
  border-radius: 2px;
  color: #20B2AA;
  border: 1px solid #20B2AA;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  float: left;
}

.footer_content {
  margin-top: 4rem;
  text-align: center;
  width: 100%;
  padding-bottom: 3rem;
}

.footer_icon{
  font-size: 30px;
  padding: 1.5rem;
  color: #909090;
}

.footer_content p{
  font-size: 15px;
  color: #909090;
}

.footer_content a{
  color: #909090;
}

.footer_table {
  font-size: 14px;
}